:root{
    --gray:#4a5568;
    --darkGray: #2d3750;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background: rgb(246, 246, 246);
    height: 85px;
    display: flex;
    padding: 0 10%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(1,1,1,0.2);
}

.navbar > h1 {
    font-size: 20px;
    font-weight: bold;
}

.nav-menu{
    display: flex;
    gap: 30px;
}

.hero-container{
    display: flex;
    height: 470px;
    padding: 0 10%;
}

.hero-container > div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-container h1{
    font-size: 40px;
    width: 450px;
    margin: 20px 0;
    font-weight: bold;
}

.hero-container p{
    font-size: 20px;
    color:var(--gray)
}

.hero-container > img{
    width: 50%;
    height: 400px;
    align-self: center;
}

.description-box{
    height: 250px;
    margin: 40px 0;
    padding: 0 10%;
    display: flex;
}

.description-box > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 4px 8px 0px rgba(1,1,1,0.1);
    border: ;: 1px solid rgb(246, 246, 246);
}

.description-box h2{
    color: var(--darkGray);
    font-weight: bold;
}

.description-box p{
    color: var(--gray);
}

.description-box >div >div{
    width: 550px;
}

.description-box > img{
    width: 60%;
    object-fit: cover;
}

.left{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}


